{% extends 'templates/app.twig' %}


{% block content %}

	<h2 class="title is-4 mt-30">Editar pàgines</h2>

	<div class="columns">


<div class="column is-half">
	<form method="post" action="{{ path_for('adm.enllacos.edit') }}">

			{% for pag in pags %}
	<div class="mb-30">
			<h5 class="titol is-6">Pàgina {{ pag.id }} <a title="Eliminar pàgina" class="delete" href="{{ path_for('adm.enllac.del', { 'enllacId': pag.id }) }}">Eliminar pàgina</a></h5>


					<input name="id[]" type="hidden" value="{{ pag.id }}"></input>

					<div class="mt-20 form-group{{ errors.titol ? ' has-error' : ''}}">
						<div class="field">
						<label for="titol" class="label">Titol</label>
						<div class="control">
								<input class="input" type="text" name="titol[{{pag.index}}]" value="{{ pag.titol }}" placeholder="Títol"/>
						</div>
						<p class="help is-success">Entra el títol</p>
					</div>
					</div>


					<div class="mt-10 form-group{{ errors.enllac ? ' has-error' : ''}}">
						<div class="field">
						<label for="enllac" class="label">Enllaç</label>
						<div class="control">
								<input class="input" type="text" name="enllac[{{pag.index}}]" value="{{ pag.enllac }}" placeholder="Enllaç"/>
						</div>
						<p class="help is-success">Entra l'enllaç</p>
					</div>
					</div>


					<div class="mt-10 form-group{{ errors.cos ? ' has-error' : ''}}">
						<div class="field">
						<label for="cos" class="label">Cos</label>
						<div class="control">
								<textarea class="textarea" name="cos[{{pag.index}}]" placeholder="entra el cos de la pàgina">{{ pag.cos }}</textarea>
						</div>
						<p class="help is-success">Entra el cos</p>
					</div>
					</div>


						<div class="mt-10 form-group{{ errors.ordre ? ' has-error' : ''}}">
							<div class="field">
							<label for="ordre" class="label">Ordre</label>
							<div class="control">
									<input type="number" min="1" name="ordre[{{pag.index}}]" value="{{pag.ordre }}" placeholder="Ordre"/>
							</div>
							<p class="help is-success">Ordre dels enllaços</p>
						</div>
						</div>

		</div>
			{% endfor %}

{#
<input class="button btn-primary" type="submit" value="Guardar"></input>
<input class="button btn-danger" type="reset" value="Cancel·lar"></input>
#}

					<div class="mt-20 mb-50 field is-grouped">
					  <div class="control">
							<input class="button is-primary" type="submit" name="guardar" value="Guardar"/>
					  </div>
					  <div class="control">
							<input class="button is-text" type="reset" name="cancelar" value="Cancel·lar"/>
					  </div>
					</div>



</form>
</div>

<div class="column is-half">
<form method="post" action="{{ path_for('adm.enllac.add') }}">
		<h5 class="title is-6">Nova pàgina</h5>

		<div class="field mb-10">
			<label for="titol" class="label">Títol</label>
			<div class="control">
					<input class="input" type="text" name="titol" value="" placeholder="Títol"/>
			</div>
			<p class="help is-info">Títol de la pàgina</p>
		</div>

		<div class="field mb-10">
			<label for="enllac" class="label">Enllaç</label>
			<div class="control">
					<input class="input" type="text" name="enllac" value="" placeholder="Enllaç"/>
			</div>
			<p class="help is-info">Enllaç</p>
		</div>

		<div class="field mb-10">
		  <label class="label">Cos</label>
		  <div class="control">
		    <textarea name="cos" class="textarea" placeholder="Entra el cos"></textarea>
		  </div>
		</div>

			<div class="field mb-10">
				<label for="ordre" class="label">Ordre</label>
				<div class="control">
						<input class="input" type="number" min="1" name="ordre" value="" placeholder="Ordre"/>
				</div>
				<p class="help is-info">Ordre dels enllaços</p>
			</div>

{#
			<label class="col-md-4">titol</label>
			<input name="titol" class="col-md-8" value="" placeholder="Entra el títol"></input>

			<label class="col-md-4">Enllaç</label>
			<input name="enllac" class="col-md-8" value="" placeholder="entra l'enllaç"></input>

			<label class="col-md-4">cos</label>
			<textarea name="cos" class="col-md-8" value="" placeholder="Entra el cos de la pàgina"></textarea>

			<label class="col-md-4">ordre</label>
			<input name="ordre"  type="number" min="1" class="col-md-8" value="" placeholder="Entra l'ordre dels enllaços"></input>


			<input class="button btn-primary" type="submit" value="Guardar"></input>
			<input class="button btn-danger" type="reset" value="Cancel·lar"></input>

#}

<div class="mt-20 mb-50 field is-grouped">
	<div class="control">
		<input class="button is-primary" type="submit" name="guardar" value="Afegir"/>
	</div>
	<div class="control">
		<input class="button is-text" type="reset" name="cancelar" value="Cancel·lar"/>
	</div>
</div>



</form>
</div>

</div>

		</div>
	</div>

{% endblock %}
